body {
  background-color: #337233;
}

* {
  background-color: #337233;
}

.dropdown {
  color: white;
  background-color: #337233;
}

#nav-dropdown {
  background-color: #337233;
}

.dropdown-menu {
  background-color: #337233;
}

.dropdown-toggle {
  color: white;
}

.dropdown-toggle::after {
  color: white;
}

a.nav-link {
  font-size: 25px;
  font-weight: 550;
}

.me-auto {
  display: flex;
  justify-content: space-between;
}

#mainPage{
  width: 70%;
  margin: 0 auto;
  min-height: 120vh;
}

#about {
  font-size: 25px;
  width: 70%;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 300px;
}

#callToAction {
  margin-top: 70px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

#fourStepModel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 100px;
}

.card {
  float: left;
}

.cardHeader {
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: x-large;
}

.buttonComponent {
  /*
   background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30%;
  */
  

}

