body {
  background-color: #337233;
  min-height: 300vh;
    display: flex;
    flex-direction: column;
}


.dropdown {
  color: white;
  background-color: #337233;
}

#nav-dropdown {
  background-color: #337233;
}

.dropdown-menu {
  background-color: #337233;
}

.dropdown-toggle {
  color: white;
}

.dropdown-toggle::after {
  color: white;
}

a.nav-link {
  font-size: 25px;
  font-weight: 550;
}

.me-auto {
  display: flex;
  justify-content: space-between;
}

#mainPage{
  width: 70%;
  margin: 0 auto;
  min-height: 120vh;
  padding-bottom: 400px;
}

#about {
  font-size: 25px;
  width: 70%;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 300px;
}

#callToAction {
  margin-top: 70px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

#fourStepModel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 100px;
  background-color: #337233;
}

.card {
  float: left;
  background-color: #337233;
  border: none;
}

.cardHeader {
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: x-large;
}

.valueProposition {
  padding-top: 200px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 310px;
}


.iconWrapper {
  width: 50%;
  float: left;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.textFieldRight {
  width: 50%;
  float: left;
  color: white;
  padding-left: 5%;
  padding-right: 10%;
  padding-top: 20px;
}

.desc {
  font-size: 19px;
  padding-bottom: 30px;
}

.footer {
  margin-top: auto;
}

#kontener {
  margin-left: 0px;
  margin-right: 0px;
  min-width: 72%;
}

@media (min-width: 800px) {
  .search {
    font-size: 2rem;
  }
}